.modal-img{
    width: 15%;
    margin: 0 auto;
}

.modal-title{
    width: 100%;
    text-align: center;
    margin-top:20px;
    font-size: 20px;
    font-weight: 500;
}

.modal-body {
    width: 100%;
    text-align: center;
    margin-top:10px;
    font-size: 15px;
    font-weight: 400;
}
.modal-body .modal-desc{
    max-width: 90%;
    margin: 0 auto;
}
.modal-desc p{
 flex-wrap: nowrap;
}
 