// .banner {
//     @include flex(center, center);
//     width: 70%;
//     padding-left: 0;
//     box-shadow: $box-shadow;
//     transition: transform 0.5s ease;
//     margin: 0 auto;
//     &:hover {
//         transform: translateY(-20px);
//         box-shadow:5px 10px 5px 7px #888888;
//     }

// }
// .img-main{
//     display: flex;

// }
// .img-2{
//     display: flex;
//     width: 46%;

// }
// .__image-banner {
//     // background: red;
// }
// @include mobile {
//     display: block;
// }

// @include tablet {
//     .img-2 {
//         display: flex;
//         margin-left: 30px;
//         margin-top: 50px;
//         gap:20px
//     }}

// .banner {
//     @include flex(center, center);
//     width: 80%;
//     padding-left: 0;
//     box-shadow: $box-shadow;
//     transition: transform 0.5s ease;
//     background-color: #fff;
//     margin: 0 auto;
//     &:hover {
//         transform: translateY(-20px);
//         box-shadow: 5px 10px 5px 7px #888888;
//     }

// }

//   @include tablet {
//       .img-main {
//         width: 100%;
//         align-items: center;
//         left:5000px;
//       }
//   }
//    @include mobile {
//        .img-main {
//            width: 100%;
//        }
//    }

.banner {
  @include flex(center, center);
  width: 75%;
  padding-left: 0;
  box-shadow: $box-shadow;
  transition: transform 0.5s ease;
  margin: 0 auto;
  &:hover {
    transform: translateY(-20px);
    box-shadow: 5px 10px 5px 7px #888888;
  }

  &__image-baner {
    height: 100%;
    width: 100%;
    > img {
      object-fit: cover;
    }
  }
}
