.policy-card {
    @include flex(center, flex-start);
    width: 100%;
    padding: 35px;
    padding-left: 0;
    box-shadow: $box-shadow;
    transition: transform 0.5s ease;

    &:hover {
        transform: translateY(-20px);
    }



    &__info {
        &__name {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 1.25rem;
            font-weight: 400;
            color: $txt-second-color;
        }
        &__span{
        color: red
        }
    }
  
}
